<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chat Interface</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <nav class="navbar navbar-light px-3" style="background-color: #e3e3e3;">
        <button class="btn btn-primary" onclick="goHome()"><i class="fa fa-home"></i></button>
        <span class="navbar-text">
            Chat Classification Demo
        </span>
        <button class="btn btn-warning my-2 my-lg-0" onclick="clearStorage()"><i class="fa fa-trash"></i></button>

    </nav>

    <div style="margin: 20px;">
        <div id="chat-div" class="card overflow-auto" style="height: 500px; padding-top: 20px;">
            <ul>
                <p id="list"></p>
            </ul>
        </div>


        <!-- <p> OutPut: {{message}} | {{output}} </p> -->

        <form method="POST">
            <input name="text" class="form-control" placeholder="ป้อนข้อความ">
            <input id="submit" type="submit" class="btn btn-success my-2">
        </form>
    </div>


    <script>
        // init and load local storage
        let message = "{{message}}";
        let result = "{{output}}";
        let card_color = "{{card_color}}"

        let message_list = JSON.parse(sessionStorage.getItem("message_list"));
        let result_list = JSON.parse(sessionStorage.getItem("result_list"));
        let color_list = JSON.parse(sessionStorage.getItem("color_list"));

        if (message_list == null || result_list == null || color_list == null) {
            message_list = [];
            result_list = [];
            color_list = [];
        }
        else if (message_list.length >= 0 && message.length != 0) {
            message_list.push(message);
            result_list.push(result);
            color_list.push(card_color);

            message = "";
        }

        let list = "", i;

        for (i = 0; i < message_list.length; i++) {
            list = list + '<div class="card" style="margin-bottom: 10px; display: inline-block;"><div class="card-body">' + message_list[i] + '</div><div style="padding: 5px; background-color:'+ color_list[i] + '">'+ result_list[i] +"</div></div><br>";
        }

        sessionStorage.setItem("message_list", JSON.stringify(message_list));
        sessionStorage.setItem("result_list", JSON.stringify(result_list));
        sessionStorage.setItem("color_list", JSON.stringify(color_list));

        document.getElementById("list").innerHTML = list;

        //auto scroll
        var element = document.getElementById("chat-div");
        element.scrollTop = element.scrollHeight;

        function goHome(){
            location.assign("/");
        }

        function clearStorage() {
            sessionStorage.clear();
            location.reload();
        }



    </script>

</body>

</html>